div {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background-color: rgb(12, 90, 64);
    flex-wrap: nowrap;
    overflow: auto;  
}

img {
    width: 100px;
    height: 80px;
}